.dropzone-container {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    margin-top: 2rem;

    & .dropzone {
        display: flex;
        align-items: center;
        gap: 0.725rem;

        & label {
            display: flex;
            align-items: center;
            gap: .375rem;
            background-color: var(--shape-button);
            padding: .375rem .75rem;
            border-radius: .5rem;
            color: white;
            height: 2.5rem;
            cursor: pointer;
        }

        & img {
            width: 1.2rem;
            height: 1.2rem;
            color: var(--color-brand-light);
        }

        & span {
            color: var(--input-placeholder);
        }

        input {
            display: none;
        }

    }
}