#app {
    display: grid;
    grid-template-columns: 35.25% 64.75%;

    height: 100vh;
    overflow: hidden;
}


aside {
    background: url('/assets/Background.jpg') no-repeat center center/cover;
    padding: 2rem;

    & .aside-container {
        width: 21rem;

        /* primeiro nivel de imagem*/
        & img {
            width: 3rem;
            height: 3rem;
            margin-bottom: 1rem;
        }
    }

    & h1 {
        margin-bottom: .5rem;
    }

}

main {
    padding: 5rem;
}